*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
*.iml
.gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store

/build
/app/build
/cameratest/build
/canvasgl/build
/hellocharts-library/build
/hellocharts-samples/build
/app/.externalNativeBuild
/cameratest/.externalNativeBuild
/canvasgl/.externalNativeBuild
/hellocharts-library/.externalNativeBuild
/hellocharts-samples/.externalNativeBuild

.externalNativeBuild
/local.properties
